*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: 'Kollektif';
    src: url('/css/fonts/Kollektif.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Kollektif';
    src: url('/css/fonts/Kollektif-Bold.ttf');
    font-weight: bold;
    font-style: bold;
}

body{
    font-family: 'Kollektif' !important;
    font-size: 22px;
    color: #000;
    background-color: #fff;
}


.big-margin{
    max-width:70%;
    margin: 0 auto;
}


/* CONTAINER CONTACTO */

.button-container{
    grid-row: 3;
    grid-column: 2;
    display: flex;
}

.contacto-father{
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    
}

.contacto-title{
    font-size: 21px;
    font-weight: 500;
    margin: 0;
}

.contacto-p{
    width: 80%;
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
}

/* input{
    height: 50px;
    width: 100%;
    border-radius: 30px;
    border: 1px solid;
    padding-left: 10px;
}

form{
    display: flex;
    flex-direction: column;
    align-items:center ;
} */

.names-container, .otros-container{
    display: flex;
}

.names-container label, .otros-container label{
    font-size: 13px;
    width: 80%;
    margin-left: 15px;
}

.otros-container{
    gap: 5px;
    margin-top: 10px;
}

.area-cont{
    width: 35%;
}
.area{
    width: 100%;
}
.num-cont{
    width: 65%;
}
.numero{
    width: 90%;
}

.precio{
    font-size: 30px;
    font-weight: bold;
}

.dispositivo{
    font-weight: bold;
}

/* PARTE REPARAR YA (FARIT) */

.contenedorNav{
    display: flex;
    width: 100%;
}

.contenedorNav .oneUl{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
    width: 90%;
    margin: 10px;
}

.contenedorNav .twoUl{
    display: grid;
    place-items: center;
    border: 1px solid black;
    width: 10%;
    margin: 10px;
}

.contenedorNav li,a{
    list-style: none;
    text-decoration: none;
}

.contenedorMain{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 30px;
}

.contenedorPrincipal{
    display: grid;
    place-items: center;
    gap: 10px;
}

.contenedorGeneralSecundario{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border: 1px solid red;
    padding: 10px;
    margin: 10px;
}

.contenedorSecundario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    border: 1px solid black;
    padding: 10px;
    width: auto;
}

.contenedorSecundario h2{
    text-align: center;
}

.selectImg{
    display: flex;
    place-items: center;
    gap: 10px;
    width: 100%;
}

.imgSer{
    display: grid;
    place-items: center;
    gap: 5px;
    background-color:rgb(0, 128, 255);
    border-radius: 30px;
    padding: 10px;
}

.formulario{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formulario input{
    height: 50px;
    border-radius: 20px;
}

.btn{
    height: 60px;
    width: 200px;
    background-color: rgb(0, 128, 255);
    color: white;
    border: none;
    border-radius: 50px;
    transition: all 300ms ease;
}

.btn:hover{
    color: rgb(0, 128, 255);
    background-color: white;
    border: 1px solid rgb(0, 128, 255);
    cursor: pointer;
}

/* Comenzando Modal (FARIT) */
/*:::Boton-Modal:::*/
.boton-modal{
    padding: 40px;
}
.boton-modal label{
    padding: 10px;
    background-color: rgb(0, 128, 255);
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: all 300ms ease;
}
.boton-modal label:hover{
    background-color: #185E83;
}
/*:::Fin Boton-Modal:::*/

/*:::Ventana Modal:::*/
#btn-modal{
    display: none;
}
.container-modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(144, 148, 150, 0.8);
    display: none;
    place-items: center;
    z-index: 100;
}
#btn-modal:checked ~ .container-modal{
    display: grid;
}
.content-modal{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
}
.content-modal h2{
    margin-bottom: 15px;
}
.content-modal p{
    padding: 15px 0px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}
.btn-cerrar{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}
.content-modal .btn-cerrar label{
    padding: 7px 10px;
    background-color: rgb(0, 128, 255);
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}
.content-modal .btn-cerrar label:hover{
    background-color:#185E83;
}

/*:::Fin Ventana Modal:::*/
