@font-face{
    font-family: 'Kollektif';
    src: url('/css/fonts/Kollektif.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Kollektif';
    src: url('/css/fonts/Kollektif-Bold.ttf');
    font-weight: bold;
    font-style: bold;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-father{
    border: 4px solid black;
    height: 100vh;
    display: grid;
    grid-template-columns: 15% 70% 15% ;
    grid-template-rows: 100px 200px 1fr;
}

/* NAV BAR CONTAINER */

.nav-father{
    grid-column: 2;
    grid-row: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid;
}

.nav-father img{
    width: 120px;
}

.profe-img{
    grid-row: 1;
    grid-column: 3;
}


/* CONTAINER PAGAR */

.pay-father{
    grid-row: 2;
    grid-column: 1 /span 3;
    text-align: center;
}



/* CONTAINER CONTACTO */

.button-container{
    grid-row: 3;
    grid-column: 2;
    display: flex;
}

.contacto-father{
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
}

.contacto-title{
    font-size: 21px;
    font-weight: 500;
    margin: 0;
}

.contacto-p{
    width: 80%;
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
}

input{
    height: 50px;
    width: 100%;
    border-radius: 30px;
    border: 1px solid;
    padding-left: 10px;
}

form{
    display: flex;
    flex-direction: column;
    align-items:center ;
}

.names-container, .otros-container{
    display: flex;
}

.names-container label, .otros-container label{
    font-size: 13px;
    width: 80%;
    margin-left: 15px;
}

.otros-container{
    gap: 5px;
    margin-top: 10px;
}

.area-cont{
    width: 35%;
}
.area{
    width: 100%;
}
.num-cont{
    width: 65%;
}
.numero{
    width: 90%;
}





.icons-container{
    display: flex;
}

.visa-container{
    background-color: rgb(21, 114, 229); 
    border: 1px solid black; 
    width: 85px; 
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
}